doctype html
html(lang="ru")
  head
    title='Hexlet Chat'
    meta(name='viewport', content='width=device-width, height=device-height, initial-scale=1')
    link(href=assetPath('main.css') rel="stylesheet")
  body
    .container#chat
    script(src=assetPath('main.js'))
