@import '~bootstrap/scss/bootstrap';
// fixed height/width so no scroll will appear
body {
  max-width: 100vw;
  height: 100vh;
  max-height: 100vh;
}
// messages/channels max size
$container-h: 100vh;
$container-p: 0.5rem + 0.5rem;
$header-h: 40px;
$header-p: 0.5rem + 0.5rem;
$content-p: 0.25rem + 0.25rem;
$input-h: 38px;
$mobile-input-h: 76px;
$mobile-channels: 0.3;
$mobile-messages: 0.7;

.my-content {
  overflow-y: auto;
  max-height: calc(#{$container-h} 
              - #{$container-p}
              - #{$header-h} 
              - #{$header-p} 
              - #{$content-p} 
              - #{$input-h});
}

@media (max-width: 575px) {
  // button will be big in case of mobile screen
  .btn.btn-grow {
    flex-grow: 1;
  }
  // channels are inside column now
  .my-content.my-content-channels {
    max-height: calc((#{$container-h} 
              - #{$container-p}
              - #{$header-h}
              - #{$header-p}
              - #{$content-p} 
              - #{$mobile-input-h}) * #{$mobile-channels});
  }
  // messages are inside column now
  .my-content.my-content-messages {
    max-height: calc((#{$container-h}
              - #{$container-p}
              - #{$header-h} 
              - #{$header-p} 
              - #{$content-p}
              - #{$mobile-input-h}) * #{$mobile-messages});
  }
}
